<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>产品合格证打印</title>
    <!--<link href="../../resource/dhtmlx/codebase/css/global.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../../resource/dhtmlx/codebase/css/form.css" rel="stylesheet" type="text/css" />-->
    <link href="../../resource/dhtmlx/codebase/dhtmlx.css" rel="stylesheet" />
    <script src="../../resource/dhtmlx/codebase/dhtmlx.js"></script>
    <script src="../../resource/common/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../resource/common/rock-common.js"></script>
    <script src="../controller/certificate.js"></script>
    <style type="text/css">
        a {
            text-decoration: none;
            background: url(../../resource/dhtmlx/codebase/imgs/123.gif) no-repeat left center;
            padding-left: 10px;
        }

            a:hover {
                color: Blue;
                text-decoration: underline;
                padding-left: 11px;
                cursor: pointer;
            }

        li {
            padding-left: 3px;
            border-bottom: 1px dotted #666;
        }
    </style>
</head>
<body>
    <table style="width: 98%; height: 70%; text-align: center">
        <tbody>
            <tr>
                <td style="height: 100%;" valign="top">
                    <div id="sidetop">
                        <ul style="float:left; padding:30px; line-height:30px; text-align:left;list-style-type:none;">
                            <li><a id="CertificateGYJW_WC"> 工业己烷(外采)合格证打印 </a> </li>
                            <li><a id="CertificateGYJW"> 工业己烷合格证打印 </a> </li>
                            <li><a id="CertificateSPGYJW"> 植物油萃取用己烷合格证打印 </a> </li>
                            <li><a id="CertificateXJGYYRJY"> 橡胶工业用溶剂油合格证打印 </a> </li>
                            <li><a id="CertificateZWCT"> 植物油提取溶剂合格证打印 </a> </li>
                            <li><a id="CertificateMTBE"> MTBE合格证打印 </a> </li>
                            <li><a id="Certificate2DX"> 工业用2-丁烯合格证打印 </a> </li>
                            <li><a id="CertificateC3C4"> 碳三碳四混合烃合格证打印 </a> </li>
                            <li><a id="Certificate1DX"> 工业用1-丁烯合格证打印 </a> </li>
                            <li><a id="CertificateZJW"> 食品添加剂正己烷合格证打印 </a> </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
