<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../resource/dhtmlx/codebase/css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../resource/dhtmlx/codebase/css/mainmenu.css" rel="stylesheet" type="text/css" />
    <link href="../../resource/dhtmlx/codebase/skins/dhtmlxlayout.css" rel="stylesheet" type="text/css" />
    <link href="../../resource/dhtmlx/codebase/skins/dhtmlxlayout_dhx_web.css" rel="stylesheet" />
    <link href="../../resource/dhtmlx/codebase/skins/dhtmlxtabbar.css" rel="stylesheet" type="text/css" />
    <link href="../../resource/dhtmlx/codebase/skins/dhtmlxtoolbar_dhx_terrace.css" rel="stylesheet" />
    <link href="../../resource/dhtmlx/codebase/skins/dhtmlxaccordion_dhx_terrace.css" rel="stylesheet" />
    <script src="../../resource/dhtmlx/codebase/js/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../../resource/dhtmlx/codebase/js/dhtmlxcontainer.js" type="text/javascript"></script>
    <script src="../../resource/dhtmlx/codebase/js/dhtmlxlayout.js" type="text/javascript"></script>
    <script src="../../resource/dhtmlx/codebase/js/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../../resource/dhtmlx/codebase/js/dhtmlxaccordion.js" type="text/javascript"></script>
    <script src="../../resource/common/jquery-1.8.2.min.js"></script>
    <script src="../../resource/common/rock-common.js"></script>
    <script src="../controller/homePage.js" type="text/javascript"></script>
</head>
<body  style="width:100%">
</body>
</html>
