<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加产品检验结果</title>
    <!--<link href="../../resource/dhtmlx/codebase/css/global.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../../resource/dhtmlx/codebase/css/form.css" rel="stylesheet" type="text/css" />-->
    <link href="../../resource/dhtmlx/codebase/dhtmlx.css" rel="stylesheet" />
    <script src="../../resource/dhtmlx/codebase/dhtmlx.js"></script>
    <script src="../../resource/common/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../resource/common/rock-common.js"></script>
    <script src="../controller/productCheck.js"></script>
    <style type="text/css">
        a {
            text-decoration: none;
            background: url(../../resource/dhtmlx/codebase/imgs/123.gif) no-repeat left center;
            padding-left: 10px;
        }

            a:hover {
                color: Blue;
                text-decoration: underline;
                padding-left: 11px;
                cursor:pointer;
            }

        li {
            padding-left: 3px;
            border-bottom: 1px dotted #666;
        }
    </style>
</head>
<body>
    <table style="width: 98%; height: 70%; text-align: center">
        <tbody>
            <tr>
                <td style="height: 100%;" valign="top" >
                    <div id="sidetop">
                        <ul style="float:left; padding:30px; line-height:30px; text-align:left;list-style-type:none;">                            
                            <li><a id="ProductCheckGYJW_WC"> 添加工业己烷(外采)检验结果 </a> </li>
                            <li><a id="ProductCheckGYJW"> 添加工业己烷检验结果 </a> </li>
                            <li><a id="ProductCheckSPGYJW"> 添加植物油萃取用己烷检验结果 </a> </li>
                            <li><a id="ProductCheckXJGYYRJY"> 添加橡胶工业用溶剂油检验结果 </a> </li>
                            <li><a id="ProductCheckZWCT"> 添加植物油提取溶剂检验结果 </a> </li>
                            <li><a id="ProductCheckMTBE"> 添加MTBE检验结果 </a> </li>
                            <li><a id="ProductCheck2DX"> 添加工业用2-丁烯检验结果 </a> </li>
                            <li><a id="ProductCheckC3C4"> 添加碳三碳四检验结果 </a> </li>
                            <li><a id="ProductCheck1DX"> 添加工业用1-丁烯检验结果 </a> </li>
                            <li><a id="ProductCheckZJW"> 添加食品添加剂正己烷检验结果 </a> </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
