* {
    margin: 0px;
    padding: 0px;
}



html, body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    color: #000000;
    overflow: hidden;
    font-size: 11px;
}

/*#body {
    width:990px;
    margin:0 auto;
}*/
.gray:link {
    font-size: 13px;
    color: #135294;
    text-decoration: none;
}

.gray:visited {
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

.gray:hover {
    font-size: 13px;
    text-decoration: underline;
    color: #FF0000;
}

.gray:active {
    font-size: 13px;
    text-decoration: none;
    color: #135294;
}

.grayness {
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}
/*
a:link 
{
     font-size:13px;
	 color: #135294;
	 text-decoration: none;
}
*/
.dblue {
    border-bottom: 1px solid #bbb;
}
