<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件，还可用 
    Web 管理工具配置应用程序设置。可使用
    Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    所有设置和注释都列在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\vx.x\Config 中
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <!--<add name="Default" connectionString="Server=hizxp.eicp.net,14330;Database=MotorMaintenance;Uid=sa;Pwd=367CF8317EF73B07075B6D0C89768AB0"B5CC891EC15204BC46AA492F06777752 providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" connectionString="Server=192.168.1.90;Database=MotorMaintenance;Uid=sa;Pwd=BDEAF1E45BCC267C8E6DC0AA30A5804A" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Server=.;Database=RockPlatTemplate;Uid=sa;Pwd=65ECC073C429AA29A8F13AEA88A928EC" providerName="System.Data.SqlClient"/>
    <!--<add name="Base" connectionString="Server=.;Database=cwjy;Uid=sa;Pwd=65ECC073C429AA29A8F13AEA88A928EC" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Base" connectionString="Server=.;Database=cwjy;Uid=sa;Pwd=office2003" providerName="NBear.Data.SqlServer.SqlDbProvider"/>-->
    <!--<add name="Default" connectionString="Server=hizxp.gnway.cc,14330;Database=APIManage2;Uid=sa;Pwd=367CF8317EF73B07075B6D0C89768AB0" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <!--<compilation debug="true" targetFramework="4.5" >
      <assemblies>

        -->
    <!--不在这里引用下面的dll，会发生以下错误:无法创建未知类型“{http://schemas.microsoft.com/winfx/2006/xaml/presentation}PointCollection”-->
    <!--

        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>-->
    <httpRuntime targetFramework="4.5" maxRequestLength="20480000" executionTimeout="7200"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="PageOffice, Version=2.0.0.1, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>
        <add assembly="Interop.poserverLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>-->
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web> 

  <location path="DynWebHandler.ashx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="999999999"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>